file_management/file

kernel_modules/**/.*
kernel_modules/**/*.mod
kernel_modules/**/*.o
kernel_modules/**/*.ko
kernel_modules/**/*.mod.c
kernel_modules/**/Module.symvers
kernel_modules/**/modules.order
